* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    background-color: #f0f0f0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.top-bar {
    background-color: black;
    color: white;
    padding: 20px 40px;
    width: 100%;
}
.logo {
    font-size: 24px;
    font-weight: 500;
}
/*Container principal*/
.main-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.register-card {
    background-color: white;
    width: 100%;
    max-width: 400px;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
}
.form-title {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 30px;
    color: #000;
}
.input-group {
    margin-bottom: 20px;
}
.input-group label {
    display: block;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 8px;
    color: #000;
}
.input-group input {
    width: 100%;
    padding: 12px 15px;
    border: 1px solid #333;
    border-radius: 10px; 
    font-size: 13px;
    outline: none;
    transition: border-color 0.3s;
}
.input-group input::placeholder {
    color: #666;
}
.input-group input:focus {
    border-color: #000;
    box-shadow: 0 0 0 1px #000;
}
.button-container {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 40px;
}
.btn-register {
    width: 100%;
    padding: 12px;
    background-color: #EAEAEA; 
    color: #000;
    font-weight: 600;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    letter-spacing: 0.5px;
    transition: background 0.3s;
}

.btn-register:hover {
    background-color: #d4d4d4;
}
.form-footer {
    text-align: center;
    font-size: 13px;
    font-weight: 500;
}
.form-footer a {
    color: #2b5cd8;
    text-decoration: none;
    margin-left: 3px;
}
.form-footer a:hover {
    text-decoration: underline;
}